.page-intro{
    display:inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 5px;
    margin-right: 20px;
}
.block{
    display:flex ; 
}
.image-video{
    width:320px;
    height:200px;
    object-fit:contain;
    cursor: pointer;
}

@media(min-width:300px) and (max-width:600px){
    .image-video{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;

    }
}
@media(max-width:1000px){
    .image-video{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
}
.icon-image-video{
    width:40px;
    margin-left: 5px;
}
.icon-image-video img{
    margin-top: 20px;
    width:40px;
    height:40px;
    object-fit:cover;
    border-radius: 30px;
}
.title-video{
    flex-direction: row;
    width:250px;
    margin-left:20px;
}
.Descripetion{
    height: 48px;
    font-size: 15px;
    font-weight: bold;
    overflow-x: hidden;
}
.Categories{
    height:5px;
}
.verfied{
    top: 13px;
    position: relative;
    background-color:black;
    color:white;
    font-size: 11px;
    width:11px;
    padding-left: 3px;
    border-radius: 20px;
    margin-top:-30px;
    margin-left: 80px;
}

