p{
    font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
.web-title{

font-size:10px;
font-weight: bold;
height:7px;

}
.line-button{

font-size:5px;
line-height: 2px;
color:#6c757d;
}
.link-button{

font-size:5px;
color:green;
line-height: 15px;
border-radius: none;
font-weight: 400px;
}
.souce{
margin-top: 20px;
height:7px;
font-size:10px;
font-weight: bold;
margin-bottom: 8px;
}
.second-line{
font-size:5px;
color:#6c757d;
border-bottom: 200px;
line-height:2px
}
.second-link{
font-size:5px;
color:green;
border-radius: none;
font-weight: 400px;
line-height:15px ;

}
.class{
font-weight: bold;
margin-top: 40px;
font-size:4px;
background-color:rgb(220, 8, 8);
padding-top:7px;
padding-bottom:7px;
color: white;
text-align: center;
}
.view{
cursor: pointer;
}
.view:hover{
text-decoration: underline;

}